<div class="col-md-6 offset-md-3">
  <div class="edit-form mt-3">
    <h2 class="text-center"><%= t(".edit") %></h2>

    <%= form_for(resource, as: resource_name, 
      url: registration_path(resource_name), html: { method: :put }) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>
      
      <div class="field">
        <%= f.label :name, t(".name") %><br />
        <%= f.text_field :name, placeholder: t(".name"), autofocus: true,
          class: "form-control" %>
      </div>

      <div class="field mt-3">
        <%= f.label :email, t(".email") %><br />
        <%= f.email_field :email, placeholder: t(".email"), autofocus: true, 
          autocomplete: "email", class: "form-control" %>
      </div>

      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <div><%= t(".currently_waiting_confirmation_for_emai") %>
          <%= resource.unconfirmed_email %>
        </div>
      <% end %>

      <div class="field mt-3">
        <%= f.label :password %> 
          <i>(<%= t(".leave_blank_if_you_don_t_want_to_change_it") %>)</i><br/>
        <%= f.password_field :password, placeholder: t(".password"), 
          autocomplete: "new-password", class: "form-control" %>
        <% if @minimum_password_length %>
          <em>( <%= @minimum_password_length %> 
            <%= t(".characters_minimum") %> )
          </em>
        <% end %>
      </div>

      <div class="field. mt-3">
        <%= f.label :password_confirmation %><br />
        <%= f.password_field :password_confirmation, 
          placeholder: t(".password_confirmation"), 
          autocomplete: "new-password", class: "form-control" %>
      </div>

      <div class="field mt-3">
        <%= f.label :current_password %><br />
        <%= f.password_field :current_password, 
          placeholder: t(".current_password"), autocomplete: "current-password",
          class: "form-control" %>
        <i>
          (<%= t(".we_need_your_current_password_to_confirm_your_changes") %>)
        </i>
      </div>

      <div class="actions mt-3">
        <%= f.submit t(".update"), class: "btn btn-outline-success" %>
      </div>
    <% end %>
    <div class="link mt-3">
      <%= link_to t(".back"), :back %>
    </div>
  </div>
</div>
